@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600;700&family=Fira+Sans&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;

}

.sidebar {
    background-color: aquamarine;
    width: 8vw;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}

.sidebar nav {
    padding: 40px;
}

.sidebar nav li {
    list-style: none;
    padding: 33px 0;
}

.main {
    background-color: burlywood;
    width: 90vw;
}

.infocontainer {
    background-color: rgb(184, 230, 21);
    height: 72vh;
    margin: 147px auto;
    justify-content: space-around;
}

.devinfo {
    justify-content: space-around;
}

.devpic img {
    width: 362px;
}